<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-toolbar>
    <ion-title>Playlists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="ishidden">

    <ion-item>
      <ion-label>Canciones</ion-label>
      <ion-select multiple="true" [(ngModel)]="objetosItem" [compareWith]="compareFn">
        <ion-select-option *ngFor="let pj of objetos" [value]="pj">{{pj.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-button expand="full" (click)="addPJ()">Añadir cancion!</ion-button>
  </div>
  
  <ion-button expand="full" (click)="showAdd()">+</ion-button>
  

  <ion-list #mylist>
    <ion-searchbar></ion-searchbar>
    <ion-list-header>
      <ion-label>Playlists</ion-label>
    </ion-list-header>
  
    <ion-item-sliding *ngFor="let item of items">
  
      <ion-item>
        <ion-label text-wrap>
          <h3>{{item.nombre}} 
          <ion-text color="secondary">
      
          </ion-text></h3>
          
        </ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="updatePJ(item)">Editar</ion-item-option>
        <ion-item-option color="danger" (click)="deletePJ(item)">Borrar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  


</ion-content>
